---
import Ejercicio1 from '../components/ejercicios/Ejercicio1.astro';
import Ejercicio2 from '../components/ejercicios/Ejercicio2.astro';
import Ejercicio3 from '../components/ejercicios/Ejercicio3.astro';
import Ejercicio4 from '../components/ejercicios/Ejercicio4.astro';
import Ejercicio5 from '../components/ejercicios/Ejercicio5.astro';
import Ejercicio6 from '../components/ejercicios/Ejercicio6.astro';
import Ejercicio7 from '../components/ejercicios/Ejercicio7.astro';
import Ejercicio8 from '../components/ejercicios/Ejercicio8.astro';
import Ejercicio9 from '../components/ejercicios/Ejercicio9.astro';
import Ejercicio10 from '../components/ejercicios/Ejercicio10.astro';
import Ejercicio11 from '../components/ejercicios/Ejercicio11.astro';
import Ejercicio12 from '../components/ejercicios/Ejercicio12.astro';
import Ejercicio13 from '../components/ejercicios/Ejercicio13.astro';
import Ejercicio14 from '../components/ejercicios/Ejercicio14.astro';
import Ejercicio15 from '../components/ejercicios/Ejercicio15.astro';
import Ejercicio16 from '../components/ejercicios/Ejercicio16.astro';
import Ejercicio17 from '../components/ejercicios/Ejercicio17.astro';
import Ejercicio18 from '../components/ejercicios/Ejercicio18.astro';
import Ejercicio19 from '../components/ejercicios/Ejercicio19.astro';
import Ejercicio20 from '../components/ejercicios/Ejercicio20.astro';
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Hola Mundo</title>
    </head>
    <body class="bg-gray-100 space-y-10 p-10">
        <h1 class="text-3xl font-bold text-center mb-10">EQUIPO-4</h1>

        <Ejercicio1 client:load />
        <Ejercicio2 client:load />
        <Ejercicio3 client:load />
        <Ejercicio4 client:load />
        <Ejercicio5 client:load />
        <Ejercicio6 client:load />
        <Ejercicio7 client:load />
        <Ejercicio8 client:load />
        <Ejercicio9 client:load />
        <Ejercicio10 client:load />
        <Ejercicio11 client:load />
        <Ejercicio12 client:load />
        <Ejercicio13 client:load />
        <Ejercicio14 client:load />
        <Ejercicio15 client:load />
        <Ejercicio16 client:load />
        <Ejercicio17 client:load />
        <Ejercicio18 client:load />
        <Ejercicio19 client:load />
        <Ejercicio20 client:load />
    </body>
    